@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@font-face {
    font-family: "Tom's New Roman";
    font-weight: 400;
    font-style: normal;
    src: url("/tomnr.woff") format("woff");
}
header, footer {
    margin: 0 auto;
    max-width: 640px;
    font-family: "Tom's New Roman", serif;
    font-size: 18pt;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.works dt {
    font-family: "Tom's New Roman", serif;
}
.works .author {
    display: none;
}
ul.pagination {
    font-family: "Tom's New Roman", serif;
}
h1, h2 {
    font-family: "Tom's New Roman", sans-serif;
    text-align: center;
}

